*

# whitelist
!*.cc
!*.h
!.gitignore
!CMakeLists.txt
!/src/
!/test/
!/src/**

!/install.sh
!/init.sh
!/procon
!/workspace/
!/tools/
!/tools/package.json
!/tools/procon.js
!/tools/atcoder.js
!/tools/allproblems.py
