*

# whitelist
!/.gitignore
!/CMakeLists.txt
!/template/
!/template/template.cc
!/template/CMakeLists.txt
!/template/test/
!/template/test/CMakeLists.txt
!/template/test/*.cc
!/contest/
!/contest/CMakeLists.txt